/* styles/style.css */

/* Reset default margin and padding */
body, h1, h2, h3, p, ul, ol, li, figure, figcaption {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
    line-height: 1.6;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* Centering */

/* Background Colors */
body {background-color: #fcfbfb;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;}
    h2{margin: 0;}

header {
    background-color: #141e0db3;
}

.msg {margin-bottom: 2%;}

/* Foreground Colors */
nav a:hover{background-color: black;
            color: white;}


    /* Add your text colors here */

/* Widths */
.logo{width: 80px;
padding-top: 5px;}
.icon{width: 80px;
    padding: 10px;
}

#hero-img {
    width: 100%;
    height: 750px;
}

/* Text Decoration */
nav a{text-align: center;
color: #fcfbfb;
text-decoration: none;}
footer a {text-align: center;
    color: #dac3a4;
    text-decoration: none;}

footer p a:hover {
    text-decoration: underline;
}
footer p {font-size: 1.2em;
        color: #d9c3a3;}
footer p a:hover{text-decoration: underline;}
.home-title{font-family: monospace, Helvetica, sans-serif;
font-size: 2em;
margin-top: 10px;
color: #dac3a4;}
footer{padding: 25px 50px;
margin-top: 200px;}
footer .social img {padding-top: 15px;}


header {
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

}
footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-img {
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.msg {
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;}
    @media screen and (max-width: 900px) {
        #hero, .home-grid {
            display: block;
            height: auto;
        }
        nav, footer {
            flex-direction: column;}
        nav a {display: block;
            padding: 15px;}
        #hero {margin-top: 0;}
        #hero-msg {margin-top: 0;}
        #hero-msg h4 {display: none;}
        .home-title {font-size: 25px;
            color: #6f7364;}
        .rivers-card, .camping-card, .rapids-card { margin: 50px auto;
            width: 60%;}
        #background {display: none;}
        .mountains, .msg {width: 80%;
            display: block;
            margin: 0 auto;}
        footer {margin-top: -50px;}}
.home-grid{display: grid;
grid-template-columns: 1fr 1fr 1fr;
 gap: 50PX;
background-color: rgb(56, 188, 188);
padding: 60px;
justify-items: center;
margin-top: 65px;}
    .rivers1-card{display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    margin-bottom: -50px;
    }

    .rivers2-card{display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    margin-bottom: 230px;}


    .rivers3-card{display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    margin-bottom: 250px;}
.card-img {width: 100%;}
#page-title{font-size: large;}
.msg1{grid-template-columns: 1fr 2fr;}

#rivers-msg{text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #219ebc;
margin-top: -205px;
font-size: 40px;
color: white;}
#background {background-color: #d9c2a3;
    height: 500px;
    margin: 50px;
    bottom: 20px;
    
}
.page2-title{font-family: monospace, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: -170px;
    color: #dac3a4;}


/* css content for our contact us page */

.contact-grid{display: flex;
display: grid;
grid-template-columns: 1fr 1fr;
padding: 10px 10px;
gap: 10px;
background-color: #d9c2a3;}

.imagess{width: 100%;}
.pa{margin-top: 0;
align-items: center;
margin-top: 0;
font-size: 25px;}

.imagess img{width: 100%;}
.contact-section{background-color: #ffffff;
padding: 20px;
margin: 20px 0;}

#pageo-title{border: 1px solid rgb(244, 226, 226);
text-align: center;
justify-items: center;
align-items: center;
margin-bottom: 20px;
background-color: rgb(225, 217, 198);}
/* adding some hover in my page-title */

#pageo-title:hover{background-color: #219ebc;
text-decoration: underline;
cursor: pointer;}
.contact-section label:hover{background-color: red;
    color: white;
    font-size: large;
    text-decoration: underline;
cursor: pointer}

.contact-section{background-color: rgb(225, 217, 198);}
body{background-color: rgb(240, 237, 230);}


#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
                    